@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form action="/Login/Index" method="post" autocomplete="off">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Kullanıcı Adı">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Şifre">
                        </div>
                        <button type="submit" id="sendlogin" class="btn btn-primary">Giriş Yap</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
